/* CONSENT */


<style>	body {background-color:#b9c6c7; font-family: sans-serif; color: black;} </style>
<style> p {font-size: 125%; margin-top:0px; margin-right:100px; margin-bottom:20px; margin-left: 100px;} </style>
<style> ul {font-size: 125%; margin-top:50px; margin-right:100px; margin-bottom:20px; margin-left: 100px; cursor:default;} </style>
<style> .instruct{width:100%; color: black; text-align:center; cursor:default;} </style>
<style> .header {position: fixed; left:0; top:0; width:100%; background-color:#8f8d8d; color: white; text-align: center;cursor:default;} </style>


/* INSTRUCTIONS */ /* POST PRACTICE */ /* INT FB */


<style>	body {background-color: #b9c6c7; font-family: sans-serif; color: black;} </style>
<style> p {font-size: 125%; margin-top:0px; margin-right:20px; margin-bottom:10px; margin-left: 20px;} </style>
<style> ul {font-size: 125%; margin-top:0px; margin-right:100px; margin-bottom:10px; margin-left: 100px; cursor:default;} </style>
<style> .instruct{width:100%; color: black; text-align:center; cursor:default;} </style>
<style> .header {width:100%; color: black; text-align: center;cursor:default;} </style>



/* QC CHECKS */

<style>	body {background-color: #b9c6c7; font-family: sans-serif; color: black;} </style>
<style> p {font-size: 125%; margin-top:0px; margin-right:100px; margin-bottom:20px; margin-left: 100px;} </style>
<style> ul {font-size: 125%; margin-top:0px; margin-right:100px; margin-bottom:20px; margin-left: 100px; cursor:default;} </style>
<style> .instruct{width:100%; color: black; text-align:center; cursor:default;} </style>
<style> .header {position: fixed; left:0; top:0; width:100%; background-color:#8f8d8d; color: white; text-align: center;cursor:default;} </style>

<style>	body {background-color: #b9c6c7; font-family: sans-serif; color: black;} </style>
<style> p {font-size: 125%; margin-top:0px; margin-right:100px; margin-bottom:20px; margin-left: 100px;} </style>
<style> ul {font-size: 125%; margin-top:0px; margin-right:100px; margin-bottom:20px; margin-left: 100px; cursor:default;} </style>
<style> .instruct{width:100%; color: black; text-align:center; cursor:default;} </style>
<style> .header {position: fixed; left:0; top:0; width:100%; background-color:#8f8d8d; color: white; text-align: center;cursor:default;} </style>
<style> .score_box p {font-size: 14px }</style>